p, label {
    font-size: 18px;
}

select, button {
    font-size: 14px;
}

footer {
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

div.chart-container {
  width: 600px;
  height: 400px;
  margin-bottom: 10px;
}